<h1>Sign up</h1>

<p>Find me in app/views/users/new.html.erb</p>
<%= form_for @user do |f| %>
	<%= render 'shared/error_messages' %> <!-- This is only working with active record-->

	<div class="field">
		<%= f.label 		:name %>
		<%= f.text_field 	:name %>
	</div>
	<div class="field">
		<%= f.label 		:email %>
		<%= f.text_field 	:email , :type=>'email'%>
	</div>
	<div class="field">
		<%= f.label 			:password %>
		<!-- #password is filtered according to config/application.rb  -->
		<%= f.password_field 	:password %>
	</div>
	<div class="field">
		<%= f.label 		:password_confirmation, "Confirmation" %>
		<%= f.password_field 	:password_confirmation %>
	</div>
	<div class="action">
		<%= f.submit 'Sign Up' %>
	</div>
<% end %>