<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user_controller, :size => 100 %>
				<%= @user_controller.name %>
			</h1>
		</td>

		<% if @microposts.any?  %>
			<%= will_paginate @microposts %>
				<table class="microposts" >
					<%= render @microposts %>

				</table>
			<%= will_paginate @microposts %>
		<% end %>


		<td class="sidebar round"> 
			<strong>
				Fulll Name <%= @user_controller.email %>  		
			</strong>

			<strong>
				URL <%= link_to "/users/#{@user_controller.id}" %>

				<%= link_to user_path(@user_controller.id) %>
				<%= link_to user_path(@user_controller) %> 
			</strong>
			<strong>
				Micropost: <%= @microposts.count %>
			</strong>
		</td>
	</tr>
</table>


