<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= title_help %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheet' %>
		<%= javascript_include_tag :jquery %>
	</head>
	<body>
		<div class="container">
			<% flash.each do |key,value|  %>
				<div class="<%= key %>"><%= value %></div>
			<% end  %>
			<%= render 'layouts/header' %>
			<section class="round">
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
			
		</div>
	</body>
</html>